#homepage_title {

    text-align: center;
    color: whitesmoke;
}


body {
    margin: 0px;
}

#background{
    background: url("../Images/homepage/22050226_10212253104820133_1123839964845659198_n.jpg") no-repeat;
    background-size: cover;
    background-position: center center;

    height: 100vh;
    width: 100%;
}


.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    overflow: hidden;
    background-color: black;
    margin-left: 1500px;

}

.navbar li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffff00;
}

#base {

    width: 900px;
    height: 600px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    position: absolute;

    margin: auto;
    color: darkblue;
    background: whitesmoke;
    margin-bottom: 150px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Verdana';
    margin-top: 150px;

}
#navbar_account{

    height:100px;
    align-content: center;
    text-align: center;
    align-self: center;
    margin-top: 25px;
    display: inline-block;

}
#navbar_account ul{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;

}

#navbar_account li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffff00;
}

/**/
#homepage_button {
    /*background-color: #4CAF50;
    border: none;*/
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
